/** CSS STYLE **/

/** COLORS **/
:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  /** FONTS **/

  --font-family-main: "Open Sans";
  --font-family-headings: "Neucha";
  --font-size: 16px;
  --font-line-height: 1.6em;
  --font-color: #2a2626;

  /** HEADINGS **/

  --line-height-headings: 1.2em;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h3: 34px;

  /** SECTIONS **/

  --max-width: 1110px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
