/** CSS STYLE **/

/** COLORS **/
:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  /** FONTS **/

  --font-family-main: "Open Sans";
  --font-family-headings: "Neucha";
  --font-size: 16px;
  --font-line-height: 1.6em;
  --font-color: #2a2626;

  /** HEADINGS **/

  --line-height-headings: 1.2em;
  --font-size-h1: 72px;
  --font-size-h2: 60px;
  --font-size-h3: 34px;

  /** SECTIONS **/

  --max-content-width: 1110px;
}

h1,
h2,
h3,
p {

  margin: 0;
  padding: 0;

  font-weight: 400;
}

h1 {

  color: var(--main);
  font-size: var(--font-size-h1);
  font-family: var(--font-family-headings);
  line-height: var(--line-height-headings);
}

h2 {
  color: var(--main);
  font-size: var(--font-size-h2);
  font-family: var(--font-family-headings);
  line-height: var(--line-height-headings);
}

h3 {
  color: var(--main);
  font-size: var(--font-size-h3);
  font-family: var(--font-family-headings);
  line-height: var(--line-height-headings);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-size: var(--font-size);
  font-family: var(--font-family-main);
}

.background {
  position: relative;
}

.background::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("/src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: var(--max-content-width);
  height: 100vh;
  min-height: 900px;
  margin: 0 auto;
  padding: 100px 0;
}

.header-dark {
  color: var(--main-dark);
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-text-container {
  display: flex;
}

.text-block {
  flex-basis: 50%;

  font-size: var(--font-size);
  line-height: var(--font-line-height);
}

.text-block:nth-child(2) {
  margin-left: 30px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
}

.video-block .container {
  align-items: center;
  justify-content: flex-start;
  height: 800px;
  min-height: 80px;

  text-align: center;
}

.video-block h2 {
  margin-bottom: 30px;
}

.video-block {

  background-color: var(--white);
}

.video {
  position: absolute;
  bottom: -100px;


  width: 919px;
  height: 569px;
}

#navigation {
  background-color: var(--main-dark);
}
